
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-king:before { content: '\e801'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
